body {
  background: #1C0607;
  color: #FAFAFA;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 25px;
}

a {
  color: #FAFAFA;
}

a:hover {
  transition: color 0.5s ease;
  color: #FFDA44;
}

a h1 {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 25px;
}

hr {
  margin: 40px -20px 20px;
  border: 0;
  height: 1px;
  background: #FAFAFA;
}

ul {
  line-height: 30px;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 20px auto 60px;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  display: flex;
  vertical-align: middle;
  margin-bottom: 40px;
}

header a {
  text-decoration: none;
}

header .logo {
  height: 100px;
}

header .title {
  margin-left: 10px;
  vertical-align: middle;
}