body {
  background: #1C0607;
  color: #FAFAFA;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

a {
  color: #FAFAFA;
}

a:hover {
  transition: color 0.5s ease;
  color: #FFDA44;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 18px;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 20px auto 60px;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  display: flex;
  vertical-align: middle;
  margin-bottom: 40px;
}

header .logo {
  height: 100px;
}

header .title {
  margin-left: 20px;
  vertical-align: middle;
}